Repository digita-ai/handlersjs, pull requests merged in 2021-09, with the labels that each got.

#108 fix: buffer resp body + form-urlencoded req body
  package-lock.json
  packages/handlersjs-core/package-lock.json
  packages/handlersjs-http/lib/servers/node/node-http-request-response.handler.ts
  packages/handlersjs-http/package-lock.json
  packages/handlersjs-http/package.json
Labels: bug, package:http

#105 test: added http tests to bump coverage
  packages/handlersjs-http/lib/handlers/http-handler-static-asset.spec.ts
  packages/handlersjs-http/lib/handlers/http-handler-static-asset.ts
  packages/handlersjs-http/lib/servers/node/node-http-request-response.handler.spec.ts
  packages/handlersjs-http/lib/services/sync.service.spec.ts
  packages/handlersjs-http/lib/services/sync.service.ts
  packages/handlersjs-http/package.json
Labels: package:http, tests

#71 test: added tests to core package
  packages/handlersjs-core/lib/handlers/handler.spec.ts
  packages/handlersjs-core/lib/handlers/handler.ts
  packages/handlersjs-core/lib/handlers/pass-through.handler.spec.ts
  packages/handlersjs-core/lib/handlers/pass-through.handler.ts
  packages/handlersjs-core/lib/handlers/pipe-through.handler.spec.ts
  packages/handlersjs-core/lib/handlers/pipe-through.handler.ts
  packages/handlersjs-core/lib/handlers/sequence.handler.spec.ts
  packages/handlersjs-core/lib/handlers/sequence.handler.ts
  packages/handlersjs-core/lib/handlers/typed-pipe-through.handler.spec.ts
  packages/handlersjs-core/lib/handlers/typed-pipe-through.handler.ts
  packages/handlersjs-core/lib/handlers/waterfall.handler.spec.ts
  packages/handlersjs-core/lib/handlers/waterfall.handler.ts
  packages/handlersjs-core/lib/logging/logger.spec.ts
  packages/handlersjs-core/lib/public-api.ts
  packages/handlersjs-core/package.json
Labels: package:core, tests

#51 Feat/write cors handler tests
  packages/handlersjs-http/lib/handlers/http-cors-request.handler.spec.ts
  packages/handlersjs-http/lib/handlers/http-cors-request.handler.ts
  packages/handlersjs-http/lib/public-api.ts
  packages/handlersjs-http/lib/util/clean-headers.ts
  packages/handlersjs-http/package.json
Labels: package:http, tests
